* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* btn design */
.btn {
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px;
    font-weight: 800;
    font-size: 1.25em;
    color: #FFF;
}

/* tile design */
.title-text {
    font-weight: 800;
    font-size: 2.5em;
}

/* Set font properties for body and fixed width of the body*/
body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 1440px;
    border: 5px solid red;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 81.25%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
}

/* Header nav bar style */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-section .logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: 48px;
    height: auto;
}

.logo p {
    font-size: 2.24em;
    font-weight: 800;
}


.logo p span {
    color: #ff5400;
}

.right-section .desktop-nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

.right-section .desktop-nav ul li:hover {
    background-color: rgb(214, 201, 225);
    padding: 5px;
    border-radius: 8px;

}

.right-section .desktop-nav ul li a {
    font-size: 1.13em;
    color: #424247;
}

.right-section .desktop-nav ul li:first-child a {
    color: #ff5400;
}


/* Hide the checkbox */
.menu-toggle {
    display: none;
}

/* Hide close icon by default */
#menu-close-icon,
#menu-open-icon {
    display: none;
    font-size: 1.5em;
}

/* header banner styles */

.banner-background-img {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 6.2em;
}

.banner {
    border: 2px solid rgba(27, 27, 8, 0.948);
    width: 80%;
}

.banner .text {
    text-align: center;
}

.banner-heading-title {
    font-weight: 800;
    font-size: 4em;
    color: #FFF;
}

.banner-input-fields {

    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-input-fields * {
    flex: 1;
    margin-right: 10px;
}

.banner-input-fields input,
select,
button {
    border: 0;
    padding: 1em;
    border-radius: 8px;
}

.banner-input-fields *:focus {
    outline: none;
}

.banner-input-fields button {
    color: white;
    background-color: #FF5400;
    cursor: pointer;
    margin-right: 0;
    font-size: 1em;
}

/* popular tour style */

.popular-tour {
    display: flex;
    align-items: center;
    gap: 53px;
    margin-bottom: 5em;
}

.popular-text,
.popular-image {
    flex: 1;
}

.circle-list div {
    margin-bottom: 1.5em;
}

.circle-list>div:first-child {
    margin-top: 1.5em;
}

.tour-des {
    margin-top: 1.5em;
}

.circle-list div::before {
    content: "\2022";
    color: #86888b;
    margin-right: 10px;

}

.tour-btn {
    margin-top: 2em;
}

.popular-image img {
    width: 100%;
}

/* Destination style */

.destination {
    margin-bottom: 5.625em;
}

.destination-text {
    width: 54%;
    margin: 0 auto;
}

.destination-text h4 {
    text-align: center;

}

.destination-text p {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.destination-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.5em;

}

.destination-images .img-1 {
    grid-column: span 2;

}

.destination-images .img-2 {
    grid-column: span 2;
}

.destination-images .img-3 {
    grid-column: span 1;

}

.destination-images .img-4 {

    grid-column: span 2;
}

.destination-images .img-5 {}

.destination-images .img-6 {
    grid-column: span 2;
}

.destination-images .img-7 {
    grid-column: span 2;
}

.destination-img-div {
    position: relative;
    display: inline-block;
}

.destination-img-div img {
    display: block;
    width: 100%;
    height: 100%;
}

.des-img-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 800;
    font-size: 1.75em;

}


/* why choose section styles */

.choose-section {
    margin-bottom: 5.625em;
}

.choose-text {
    text-align: center;
    width: 57%;
    margin: 0 auto;
}

.choose-text h4 {
    margin-bottom: 1.5em;
}

.choose-text>p {
    margin-bottom: 1.5em;
}

.choose-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}


.cart {
    padding: 2em 3.4em 2em 2em;
    border-radius: 16px;
}

.cart h5 {
    margin-top: 2em;
    margin-bottom: 0.4em;
    font-size: 1.5em;
    font-weight: 800;
}

.cart-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.cart-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.cart-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    position: relative;
    left: 50%;
}


/* Customer survey styles */

.deals-discount {
    margin-bottom: 4.75em;
}

.deals-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.deals-text h2 {
    margin-bottom: 0.5em;
}

.deals-text p {
    margin-bottom: 3em;
}

.deals-bg-image {
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    padding: 3.5em;
    display: flex;
    margin-bottom: 1.5em;


}

.deals-content {
    margin-left: auto;
    width: 50%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 3.25em;


}

.deals-bg-image-2 {
    background-image: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    padding: 3.5em;
    margin-bottom: 1.5em;

}

.deals-content-2 {
    width: 50%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 3.25em;

}

.content-icon i,
.content-icon span {
    margin-right: 0.5em;
}

.content-icon i {
    color: #ff5400;
}

.deals-content h5 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 1.5em;
}

.deals-content-2 h5 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 1.5em;
}

.deals-content-des {
    margin-bottom: 1em;
}

.price {
    font-size: 1.25em;
    font-weight: 800;
    color: #ff5400;
}

.deals-content button {
    margin-top: 1.5em;
}

.deals-content-2 button {
    margin-top: 1.5em;
}




/* perfect place */

.perfect-place {
    display: flex;
    align-items: center;
    gap: 53px;
    margin-bottom: 5em;
}

.perfect-place-text,
.perfect-place-image {
    flex: 1;
}

.circle-list-for-perfect-plc div {
    margin-bottom: 1.5em;

}

.circle-list-for-perfect-plc>div:first-child {
    margin-top: 1.5em;
}

.perfect-place-des {
    margin-top: 1.5em;
}

.circle-list-for-perfect-plc div::before {
    content: "\2022";
    color: #86888b;

}

.perfect-place-btn {
    margin-top: 2em;
}

.perfect-place-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.perfect-place-image {
    position: relative;
    display: inline-block;
}

.img-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
    font-size: 1.5em;

}


/* ................................
newsletter section style
................................. */

.news-letter-section {
    display: flex;
    /* align-items: center; */
    gap: 1.5em;
    padding-bottom: 5.624em;
}

.news-input {
    padding: 2.5em;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-input h5 {
    color: #131318;
    font-weight: 800;
    font-size: 1.5em;
}

.news-input p {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    ;
}

.news-input input {
    margin-bottom: 1.5em;
    padding: 1em 1.25em;
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    border: 0;
}

.news-input input:focus {
    outline: none;
}

.subs-btn {
    width: 100%;
}

.newsletter-img img {
    display: block;
    width: 100%;

}

.newsletter-img p {
    font-size: 2em;
    font-weight: 800;
    border-radius: 16px;
    background: #FF5400;
    padding: 1em;
    color: #FFF;
    transform: rotate(-19.628deg);

}

.newsletter-img {
    position: relative;
}

.newsletter-img-btn-dis {
    position: absolute;
    margin-bottom: 2.7em;
    margin-right: 0.8em;
    right: 0;
    bottom: 0;
}


/* footer style */

footer {
    background: rgba(19, 19, 24, 0.05);
}

.footer-sec {
    text-align: center;
}

.footer-sec>p {
    width: 66.3%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}


.footer-logo p {
    font-size: 2em;
    font-weight: 800;
}

.footer-fa-icon i {
    font-size: 5em;
    margin-right: 0.5em;
    cursor: pointer;
    color: #a89399;

}

.footer-fa-icon {
    padding-bottom: 3.1em;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    ;
}


.copy-right {
    padding-top: 3em;
    padding-bottom: 4.5em;
    font-weight: 300;
}

.copy-right i {
    margin-right: 0.3em;
    color: #a89399;
}



/* customers survey styles */
.testimonials {
    padding: 3em 0;
    display: flex;
}

.survey h2 {
    text-align: center;
}

.testimonial {
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    text-align: center;
}

.testimonial img {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 1em;
}

.testimonial p {
    font-size: 0.9em;
    margin-bottom: 1em;
    color: #555;
}

.testimonial .customer {
    font-style: italic;
    color: #888;
}





/* responsive for small device  */
@media screen and (max-width:600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 95%;
    }

    .right-section {
        display: none;
    }

    #menu-open-icon {
        display: block;
    }

    /* Show menu when checkbox is checked */
    .menu-toggle:checked~#menu {
        display: block;
        position: absolute;
        right: 0;
        margin-top: 250px;
        margin-right: 40px;
    }

    .menu-toggle~#menu .desktop-nav ul {
        flex-direction: column;
        gap: 10px;

    }

    /* Show close icon when checkbox is checked */
    .menu-toggle:checked~label #menu-close-icon {
        display: block;
    }

    /* Hide open icon when checkbox is checked */
    .menu-toggle:checked~label #menu-open-icon {
        display: none;
    }

    /* header banner design */
    .banner-heading-title {
        font-size: 1.57em;
    }

    .banner-input-fields {
        display: block;
    }

    .banner-input-fields input,
    select {
        width: 100%;
        margin-bottom: 16px;
        margin-right: 0;
    }

    .banner-input-fields>button {
        width: 100%;

    }

    /* popular tour style */
    .popular-tour {
        flex-direction: column;
    }

    /* destination styles */

    .destination-text h4 {
        font-size: 1.4em;
    }

    .destination-images {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        row-gap: 1.5em;
    }

    /* choose style */

    .choose-text h4 {
        font-size: 1.4em;
    }

    .choose-cart {
        grid-template-columns: repeat(1, 1fr);
    }

    .cart-3 {
        position: static;
    }

    /* perfect place style */

    .perfect-place {
        flex-direction: column;
    }

    /* newsletter style */

    .news-letter-section {
        flex-direction: column;
    }

    /* Survey styles */

    .testimonials {
        flex-direction: column;
    }

}





/* tab responsive */
@media screen and (min-width:601px) and (max-width:992px) {
    .container {
        width: 90%;
    }

    .right-section {
        display: none;
    }

    #menu-open-icon {
        display: block;
    }

    /* Show menu when checkbox is checked */
    .menu-toggle:checked~#menu {
        display: block;
        position: absolute;
        right: 0;
        margin-top: 250px;
        margin-right: 40px;
    }

    .menu-toggle~#menu .desktop-nav ul {
        flex-direction: column;
        gap: 10px;

    }

    /* Show close icon when checkbox is checked */
    .menu-toggle:checked~label #menu-close-icon {
        display: block;
    }

    /* Hide open icon when checkbox is checked */
    .menu-toggle:checked~label #menu-open-icon {
        display: none;
    }

    /* header banner design for tab */

    .banner-heading-title {
        font-size: 2.5em;
    }

    .banner-input-fields {
        display: block;
    }

    .banner-input-fields input,
    select {
        width: 100%;
        margin-bottom: 16px;
        margin-right: 0;
    }

    .banner-input-fields>button {
        width: 100%;

    }

    /* popular tour */
    .popular-tour {
        flex-direction: column;
    }

    /* destination styles */
    .destination-images {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        row-gap: 1.5em;
    }

    /* choose style */

    .choose-text h4 {
        font-size: 1.4em;
    }

    .choose-cart {
        grid-template-columns: repeat(1, 1fr);
    }

    .cart-3 {
        position: static;
    }

    /* perfect place style */

    .perfect-place {
        flex-direction: column;
    }

    /* newsletter style */

    .news-letter-section {
        flex-direction: column;
    }

    /* Survey styles */

    .testimonials {
        flex-direction: column;
    }

}